$primary-color: #17a2b8;
$dark-color: #343a40;
$light-color: #f4f4f4;
$white-color: #ffffff;
$danger-color: #dc3545;
$success-color: #28a745;
$green-color: #3D9776;
$light-orange: #e6b459;
$dark-orange: #bf9850;

$max-width: 1100px;
