.navbar {
  @media #{$mobile_device} {
    height: 70px;

    &__logo {
      width: 50px;
      margin: 0 10px 0 0;

      &_layout {
        display: flex;
        align-items: center;
      }
    }
    &__text {
      margin: 0;
      font-size: 12px;
    }

    &__wrapper {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &__btn {
      padding: 12px 10px 10px 12px;
    }
  }
}

.landing {

  @media #{$mid_device} {
    &__text {
      font-size: 36px;
    }
  }

  @media #{$tablet_device} {
    &__text {
      font-size: 32px;
    }
    &__right_img, &__left_img {
      height: 30%;
    }
    &__img {
      height: 60%;
    }
  }

  @media #{$mobile_device} {
    flex-direction: column;
    &__text {
      font-size: 20px;
      line-height: 150%;
    }
    &__left, &__right {
      padding: 0;
      width: 100%;
      height: 50%;
    }
    &__img {
      display: none;
    }
  }

}

.course {

  @media #{$mid_device , $tablet_device} {
    &__items {
      flex-wrap: wrap;
    }
    &__item {
      flex: 0 50%;
      justify-content: center;
    }
  }
  @media #{$mobile_device} {
    &__items {
      flex-direction: column;
    }
  }
}

.result {
  @media #{$mid_device,$tablet_device} {
    &__title {
      font-size: 25px;
    }
    &__items {
      flex-wrap: wrap;
    }
    &__item {
      margin-top: 10px;
      width: 47%;
      justify-content: center;
    }
  }
  @media #{$mobile_device} {
    &__items {
      flex-direction: column;
    }
    &__item {
      margin-top: 10px;
    }
  }
}

.process {
  @media #{$mid_device, $tablet_device} {
    &__item {
      height: auto;

      p {
        font-size: 20px;
        line-height: 120%;
      }
    }
  }
  @media #{$mobile_device} {
    &__item {
      height: auto;

      p {
        padding: 0 10px;
        font-size: 12px;
        line-height: 150%;
      }
    }
    &__items {
      flex-direction: column;
      flex-wrap: wrap;
    }
  }
}

.extra {
  @media #{$mid_device,$tablet_device} {
    &__title {
      font-size: 26px;
    }
    &__items {
      flex-wrap: wrap;
    }
    &__card {
      flex: 0 48%;
      justify-content: space-between;
    }
  }
  @media #{$mobile_device} {
    &__title {
      font-size: 24px;
    }
    &__card {
      p {
        font-size: 14px;
      }
    }
    &__icon {
      width: 42px;
      height: 42px;
    }
  }
}

.author {
  @media #{$mobile_device} {
    .hero {
      flex-direction: column;
      align-items: center;

      &__image {
        width: 95%;
      }

      &__desc {
        width: 95%;
      }

      &__cards {
        margin-top: 20px;
      }

      &__card {
        margin-top: 15px;
        min-height: 100px;
        font-size: 13px;
        padding: 5px;
      }
    }
    &__name {
      margin-top: 10px;
      display: flex;
      justify-content: center;
    }
  }
}

.a-right, .a-left {
  @media #{$mobile_device} {
    display: none !important;
  }
}

.contact {
  padding: 0 10px;
  @media #{$mobile_device} {
    &__item {
      select {
        width: 100px;
      }
    }
  }
}
